{% extends 'main.html' %} {% block content %}

<div class="max-w-7xl px-24">
  <div class="mx-auto mt-4 justify-center w-full">
    <a
      class="inline-block mt-4 p-3 title font-medium tracking-wider border border-grey-400 text-black rounded-none"
      href="{% url 'mannequins' %}"
      >&larr; Back
    </a>
    <div class="mt-6 grid grid-cols-1 gap-10 sm:grid-cols-2">
      <div class="w-full h-full rounded-none overflow-hidden">
        <img
          src="{{mannequin.thumbnail.url}}"
          alt="{{mannequin.name}}"
          class="w-full h-full object-center object-cover"
        />
      </div>
      <div class="w-7xl">
        <h2 class="mb-4 text-4xl font-extrabold tracking-wide text-black">
          {{mannequin.name}}
        </h2>
        <h3 class="mb-2 text-lg font-bold tracking-tight text-gray-900">
          {{mannequin.height}}m
        </h3>
        <p><em>{{mannequin.description | title}}</em></p>
        <div class="grid grid-cols-2 gap-4">
          <a
            class="inline-block mt-4 p-3 title font-medium tracking-wider bg-black text-white rounded-none"
            href=""
            >Like
          </a>
          <a
            class="inline-block mt-4 p-3 title font-medium tracking-wider bg-green-700 text-white rounded-none"
            href=""
            >Follow
          </a>
        </div>
      </div>

      <!-- More mannequins... -->
    </div>
  </div>
</div>

{% endblock %}
