<section class="footer">
  <div class="mt-24 mx-auto p-24 max-w-3xl grid grid-cols-3">
    <div>
      <a href="#">
        <h1 class="font-extrabold text-4xl">FIMO228</h1>
      </a>

      <div class="text-3xl">
        <ul>
          <a href="https://web.facebook.com/FIMO228/" target="null"
            ><i class="fab fa-facebook-square hover:text-blue-700"></i
          ></a>
          <a href="https://www.instagram.com/FIMO228/" target="null"
            ><i class="fab fa-instagram hover:text-pink-600"></i
          ></a>
          <a href="https://www.linkedin.com/company/FIMO228" target="null"
            ><i class="fab fa-linkedin hover:text-sky-700"></i
          ></a>
        </ul>
      </div>
    </div>
    <ul>
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'products' %}">Shop</a></li>
      <li><a href="{% url 'designers' %}">Designers</a></li>
      <li><a href="{% url 'mannequins' %}">Mannequins</a></li>
    </ul>
    <ul>
      <!-- <li><a href="gallery.html">Gallery</a></li> -->
      <li><a href="faq.html">Agency news</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="legal.html#privacy">Privacy policy</a></li>
      <li><a href="legal.html#terms">Terms of use</a></li>
    </ul>
  </div>
</section>
<div class="text-center pb-4">
  <p>&copy; Copyright <span id="date"></span> FIMO228 all rights reserved</p>
  <small class="text-gray-400 text-4xs">
    <a
      href="https://ozarru.github.io/ozarrutech/"
      target="_blank"
      rel="noopener noreferrer"
    >
      Powered by Ozarrutech
    </a>
  </small>
</div>
