{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <script
      type="module"
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"
    ></script>
    <script
      src="https://kit.fontawesome.com/1cbb8019be.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="{% static 'js/cart.js' %}" defer="true"></script>

    <script type="text/javascript">
      var user = "{{ request.user }}";

      function getToken(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== "") {
          const cookies = document.cookie.split(";");
          for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === name + "=") {
              cookieValue = decodeURIComponent(
                cookie.substring(name.length + 1)
              );
              break;
            }
          }
        }
        return cookieValue;
      }
      const csrftoken = getToken("csrftoken");

      function getCookie(name) {
        var cookieArray = document.cookie.split(";");
        for (var i = 0; i < cookieArray.length; i++) {
          var cookiePair = cookieArray[i].split("=");

          if (name == cookiePair[0].trim()) {
            return decodeURIComponent(cookiePair[1]);
          }
        }
        return null;
      }

      var cart = JSON.parse(getCookie("cart"));
      if (cart == undefined) {
        cart = {};
        console.log("Cart was created");
        document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/";
      }

      // console.log("Cart:", cart);
    </script>

    {% if title %}
    <title>FIMO228 - {{title}}</title>
    {% else %}
    <title>FIMO228</title>
    {% endif %}
  </head>
  <body class="font-sans bg-grey-200">
    {% csrf_token %}
    <!-- Navbar -->
    {% include 'navbar.html' %} {% if messages %} {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %} {% endif %}
    <div class="mx-auto">{% block content %} {% endblock %}</div>

    {% include 'footer.html' %}
    <script>
      var current_date = new Date().getFullYear();
      document.getElementById("date").innerHTML = current_date;
    </script>
  </body>
</html>
