{% extends "main.html" %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}
<div class="bg-white max-w-7xl mx-auto">
  <div class="p-8 group rounded-none">
    <div class="flex justify-between">
      <a
        class="inline-block mt-4 p-3 title font-medium tracking-wider border border-grey-400 text-black rounded-none"
        href="{% url 'products' %}"
        >&larr; Boutique
      </a>
      <a
        class="inline-block mt-4 p-3 title font-medium tracking-wider bg-red-700 text-white rounded-none"
        href="#"
        >Clear cart
      </a>
    </div>
    <div class="mt-4 flex justify-between">
      <h3>N° of orders: <strong> {{order.get_cart_items}} </strong></h3>
      <h3>Total: <strong> {{order.get_cart_total}} XOF</strong></h3>
      <a
        class="inline-block p-4 title font-medium tracking-wider bg-green-700 text-white rounded-none"
        href="{% url 'checkout' %}"
        >Checkout &rarr;</a
      >
    </div>
  </div>
  <div class="m-4 px-8 py-4 group shadow-sm rounded-none">
    <div class="my-2 grid grid-cols-5 gap-6 font-bold text-slate-900">
      <h4>Image</h4>
      <h4>Name</h4>
      <h4>Price</h4>
      <h4>Quantity</h4>
      <h4>Total</h4>
    </div>
    <div class="mt-6 grid grid-cols-5 gap-6 justify-center align-middle">
      {% for item in cart_items %}

      <img
        class="h-6 text-gray-200"
        src="{{item.product.thumbnail.url}}"
        alt="item image"
      />
      <p>{{item.product.name}}</p>
      <p>{{item.product.price|floatformat:2}} XOF</p>
      <p class="flex">
        <img
          data-product="{{item.item.id}}"
          data-action="remove"
          class="h-6 text-gray-200 update-cart mr-2"
          src="{% static 'icons/down.png' %}"
          alt="decrease button"
        />
        {{item.quantity}}
        <img
          data-item="{{item.item.id}}"
          data-action="add"
          class="h-6 text-gray-200 update-cart ml-2"
          src="{% static 'icons/up.png' %}"
          alt="increase button"
        />
      </p>
      <p>{{item.get_total}} XOF</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
