{% extends "main.html" %}
<!--  -->
{% load static %} {% block content %}

<div class="bg-white p-8 mx-auto max-w-7xl">
  <div class="p-4 group shadow-sm rounded-none">
    <a
      class="inline-block mt-4 p-3 title font-medium tracking-wider border border-grey-400"
      href="{% url 'cart' %}"
      >&larr; Panier</a
    >
    <h2 class="mt-4 font-bold text-xl">Résumé d'achat</h2>
    <div
      class="mt-4 grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6 lg:grid-cols-3 xl:gap-x-8 justify-center align-middle"
    ></div>
  </div>
  <div class="grid grid-cols-1 gap-y-10 sm:grid-cols-2 gap-x-6">
    <div class="mt-4 p-4 group shadow-md rounded-none">
      <div
        class="mt-4 grid grid-cols-5 gap-y-10 sm:gap-x-6 xl:gap-x-8 justify-center align-middle font-bold"
      >
        <h4>Image</h4>
        <h4>Nom</h4>
        <h4>Prix</h4>
        <h4>Quantité</h4>
        <h4>Total</h4>
      </div>
      <div
        class="mt-6 grid grid-cols-5 gap-y-10 sm:gap-x-6 xl:gap-x-8 justify-center align-middle"
      >
        {% for item in items %}

        <img
          class="h-6 text-gray-200"
          src="{{item.product.thumbnail.url}}"
          alt="Item image"
        />
        <p>{{item.product.name}}</p>
        <p>{{item.product.price}} XOF</p>
        <p>{{item.quantity}}</p>
        <p>{{item.get_total}} XOF</p>
        {% endfor %}
      </div>
    </div>
    <div class="font-bold">
      <div class="mt-4 p-4 shadow-md rounded-none">
        <div class="flex justify-between">
          <h3 class="mb-4 text-gray-700">N° of Items:</h3>
          <h3 class="mb-4 text-gray-700">{{order.get_cart_items}}</h3>
        </div>
        <div class="flex justify-between">
          <h3 class="mb-4 text-gray-700">Sub Total:</h3>
          <h3 class="mb-4 text-gray-700">
            {{order.get_cart_total|floatformat:2}} XOF
          </h3>
        </div>
        <div class="flex justify-between">
          <h3 class="mb-4 text-gray-700">Tax (VAT 18%):</h3>
          <h3 class="mb-4 text-gray-700">XOF</h3>
        </div>
        <div class="flex justify-between">
          <h3 class="mb-4 text-gray-700">Grand Total:</h3>
          <h3 class="mb-4 text-gray-700">
            {{order.get_cart_total|floatformat:2}} XOF
          </h3>
        </div>
      </div>
      <!-- shippnig info form -->
      <div class="mt-4 p-4 shadow-md">
        <form id="form" action="" method="POST">
          <div id="user-info" class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <input
              class="p-2 border border-gray-200"
              type="text"
              placeholder="Name..."
              required="true"
              name="name"
            />
            <input
              class="p-2 border border-gray-200"
              type="email"
              placeholder="Email..."
              required="true"
              name="email"
            />
          </div>
          <h2 class="my-4 font-bold text-gray-700 text-xl">Shipping Info</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            <input
              class="p-2 border border-gray-200"
              type="text"
              placeholder="Phone..."
              required="true"
              name="phone"
            />
            <input
              class="p-2 border border-gray-200"
              type="text"
              placeholder="Address..."
              required="true"
              name="address"
            />
            <input
              class="p-2 border border-gray-200"
              type="text"
              placeholder="City..."
              required="true"
              name="city"
            />
            <input
              class="p-2 border border-gray-200"
              type="text"
              placeholder="Country..."
              required="true"
              name="country"
            />
          </div>
          <input
            id="form-button"
            class="mt-4 px-4 h-12 w-full font-medium tracking-wider bg-green-700 hover:bg-black text-white"
            type="submit"
            value="Continue"
          />
        </form>
      </div>
      <!-- payment info -->
      <div id="payment-info" class="hidden mt-4 p-4 shadow-md">
        <h2 class="mb-4 font-bold text-gray-700 text-xl">PayPal</h2>
        <button
          id="make-payment"
          class="inline-block mt-4 p-3 title font-medium tracking-wider border border-grey-400"
        >
          Make Payment
        </button>

        <!-- <div id="paypal-button-container"></div> -->
      </div>
    </div>
  </div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=test&currency=USD"></script>
<script>
  // Render the PayPal button into #paypal-button-container
  paypal
    .Buttons({
      style: {
        color: "blue",
      },
      // Set up the transaction
      createOrder: function (data, actions) {
        return actions.order.create({
          purchase_units: [
            {
              amount: {
                value: "88.44",
              },
            },
          ],
        });
      },

      // Finalize the transaction
      onApprove: function (data, actions) {
        return actions.order.capture().then(function (orderData) {
          // Successful capture! For demo purposes:
          console.log(
            "Capture result",
            orderData,
            JSON.stringify(orderData, null, 2)
          );
          var transaction = orderData.purchase_units[0].payments.captures[0];
          alert(
            "Transaction " +
              transaction.status +
              ": " +
              transaction.id +
              "\n\nSee console for all available details"
          );

          // Replace the above to show a success message within this page, e.g.
          // const element = document.getElementById('paypal-button-container');
          // element.innerHTML = '';
          // element.innerHTML = '<h3>Thank you for your payment!</h3>';
          // Or go to another URL:  actions.redirect('thank_you.html');
        });
      },
    })
    .render("#paypal-button-container");
</script>
<script>
  var total = "{{order.get_cart_total}}";
  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
  }

  var form = document.getElementById("form");

  form.addEventListener("submit", function (e) {
    e.preventDefault(),
      console.log("Form submitted"),
      document.getElementById("form-button").classList.add("hidden");
    document.getElementById("payment-info").classList.remove("hidden");
  });

  document
    .getElementById("make-payment")
    .addEventListener("click", function (e) {
      submitFormdata();
    });

  function submitFormdata() {
    console.log("Payment button clicked");

    var userFormData = {
      name: null,
      email: null,
      total: total,
    };

    var shippingInfo = {
      phone: null,
      address: null,
      city: null,
      country: null,
    };

    if (user == "AnonymousUser") {
      userFormData.name = form.name.value;
      userFormData.email = form.email.value;
    }

    shippingInfo.phone = form.phone.value;
    shippingInfo.address = form.address.value;
    shippingInfo.city = form.city.value;
    shippingInfo.country = form.country.value;

    var url = "/shop/process_order/";
    fetch(url, {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": csrftoken,
      },
      body: JSON.stringify({ form: userFormData, shipping: shippingInfo }),
    })
      .then((res) => {
        return res.json();
      })
      .then((data) => {
        console.log("Success:", data);
        alert("Transaction completed");
        cart = {};
        document.cookie = "cart" + JSON.stringify(cart) + ";domain=;path=/";
        window.location.href = "{% url 'products' %}";
      });
  }
</script>

{% endblock %}
