{% extends 'main.html' %} {% block content %}

<div class="max-w-7xl mx-auto px-24 ">
  <div class="mx-auto m-4 justify-center w-full">
    <a
      class="inline-block mt-4 p-3 title font-medium tracking-wider border border-grey-400 text-black rounded-none"
      href="{% url 'products' %}"
      >&larr; Boutique
    </a>
    </div>
    <div
      class="mt-6 grid grid-cols-1 gap-10 sm:grid-cols-2"
    >
      <div class="w-full h-full rounded-none overflow-hidden">
        <img
          src="{{product.thumbnail.url}}"
          alt="{{product.name}}"
          class="w-full h-full object-center object-cover"
        />
      </div>
      <div class="w-full">
        <h2 class="text-4xl font-extrabold tracking-wide text-black">
          {{product.name}}
        </h2>
        <h4>{{product.quantity}} in stock</h4>
        <h3 class="text-lg font-bold tracking-tight text-gray-900">
          {{product.price}} XOF
        </h3>
        <p><em>{{product.description | title}}</em></p>
        <div class="grid grid-cols-2 gap-4">
          <button
          data-product="{{product.id}}"
          data-action="add"
          class="inline-block mt-4 p-3 title font-medium tracking-wider bg-gray-800 hover:bg-black text-white update-cart"
          type="button"
        >
        Ajoutez au panier
        </button>
          <a
          data-product="{{product.id}}"
          data-action="add"
            class="inline-block text-center mt-4 p-3 title font-medium tracking-wider bg-pink-50 border border-pink-300 text-black"
            href="{% url 'checkout' %}"
            >Acheter maintenant
          </a>
        </div>
      </div>

      <!-- More products... -->
    </div>
  </div>
</div>

{% endblock %}
