{% extends 'main.html' %} {% load static %} {% block content %}

<!-- hero section -->

<!-- <img
  src="{% static 'images/branding/fimoshop.jpg' %}"
  alt="carousel"
  class="w-full h-200 object-center object-contain m-0"
  /> -->

  <div class="p-24 w-full bg-black h-80 text-center text-white ">
    <h1 class="text-7xl font-extrabold">FIMO228</h1>
    <p class="text-xl text-gray-300">Boutique</p>
  </div>
<!-- rendered products -->
<div class="max-w-7xl mx-auto py-16 px-4 lg:px-8">


  <!-- quick search -->
  <div class="max-w-4xl mx-auto mb-16 p-8 shadow-lg flex flex-auto gap-4 justify-between">
    <form  action="{% url 'products' %}" method="get">
      <input class="p-2 border border-gray-300 outline-dashed" type="text" name="query" placeholder="Recherchez...">
    </form>
    <a class="py-2 px-6 uppercase font-medium border border-gray-200 bg-gray-100"
    href="{% url 'products' %}">All</a>
    {% for couture in coutures %}
    <a class="py-2 px-6 uppercase font-medium border border-gray-200 bg-gray-100"
    href="{% url 'products' %}?query={{couture.name}}">{{couture.name}}</a>
    {% endfor %}
  </div>

  <!-- rendering products -->
  <div
    class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:gap-6 lg:grid-cols-3 xl:grid-cols-4 xl:gap-8"
  >
    {% for product in products %}
    <div class="bg-gray-100 shadow-md rounded-none overflow-hidden block">
      <div
        class="w-full aspect-w-1 aspect-h-1 overflow-hidden xl:aspect-w-7 xl:aspect-h-8"
      >
        <a href="{% url 'product-detail' product.slug %}">
          <img
            src="{{ product.thumbnail.url }}"
            alt="{{ product.name }}"
            class="w-300 h-300 object-center object-cover group-hover:opacity-75 m-0"
          />
        </a>
      </div>
      <div class="m-4">
        <h3 class="mt-2 text-md text-gray-700">{{product.name}}</h3>
        <p class="my-2 text-lg font-medium text-gray-900">
          {{product.price}} XOF
        </p>
        <div class="flex flex-auto space-x-4">
          <!-- <a
  class="inline-block p-3 title font-medium tracking-wider bg-black text-white rounded-none"
  href="{% url 'product-detail' product.slug %}"
  >Add to cart </a
> -->
      <button
        data-product="{{product.id}}"
        data-action="add"
        class="flex-none w-1/2 h-12 title font-small tracking-wider bg-black text-white rounded-none update-cart"
        type="button"
      >
      Add to cart
      </button>
          <a
  class="inline-block p-3 title font-medium tracking-wider border border-grey-300 text-gray-900 bg-white rounded-none"
  href="{% url 'product-detail' product.slug %}"
  >View &rarr; </a
>
        

        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>
  </div>
</div>
 {% endblock %}
